
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <h2>Create a New Class</h2>
            <form class="add-class">
                <div class="form-group">
                    <label for="className">Class Name</label>
                    <input type="text" class="form-control" id="className-input" placeholder="Enter class name">
                </div>
                <div class="form-group">
                    <label for="classDescription">Description</label>
                    <textarea class="form-control" id="classDescription-input" placeholder="Enter a class description"></textarea>
                </div>
                <div class="form-group">
                    <label for="classDate">Date</label>
                    <input type="date" class="form-control" id="classDate-input">
                </div>
                <div class="form-group">
                    <label for="startTime">Start Time</label>
                    <input type="time" class="form-control" id="startTime-input" placeholder="Enter the time the class will start">
                </div>
                <div class="form-group">
                    <label for="endTime">End Time</label>
                    <input type="time" class="form-control" id="endTime-input" placeholder="Enter the time the class will end">
                </div>
                <div class="form-group">
                    <label for="classPrice">Price ($/class)</label>
                    <input type="number" class="form-control" id="classPrice-input" placeholder="Enter the price of one class">
                </div>
                    <div style="display: none" id="alert" class="alert alert-danger" role="alert">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    <span class="sr-only">Error:</span> <span class="msg"></span>
                </div>
                <button type="submit" class="btn btn-default">Create</button>
            </form>
            <br />
            <a href="/profile">Go back to your profile</a>
        </div>
    </div>

    <!-- Modal for successfully undoing deletion of classes -->
    <div id="add-success-modal-bg" class="modal-bg">
        <div class="add-review-modal">
            <div class="add-success-modal-div">
                <div class="add-success-heading">
                    <i class="fas fa-check-circle fa-3x"></i>
                    <h4>Successfully added!</h4>
                    <p>Your new class has been created.</p>
                </div>
                <div class="nav-btn-div">
                    <form action="/profile">
                        <button id="add-success-btn" class="confirm-btn" type="submit">Go back to profile</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>