<header class="row align-items-center header-hero">
    <div class="offset-1 col-9 " id="home">
        <h1>WELCOME</h1>
        <h5>Welcome to our gym etc. General info about gym and classes.</h5>
    </div>


</header>
<div class="container link-card">
    <div class="row link-pages">
        <div class="col-lg-6 col-sm-12">
            <div class="card shadow">
                <img class="card-img-top" src="images/group-weight-class.jpg" alt="group training">
                <a type="button"  class="btn btn-outline-dark btn-link" href="/classes">View our classes description</a>
            </div>
        </div>
        <div class="col-lg-6 col-sm-12">
             <div class="card shadow">
                <img class="card-img-top" id="img-tube" src="images/tube-training.jpg" alt="tube training">
                <a type="button"  class="btn btn-outline-dark btn-link" href="/login">Log in and book your class</a>            
            </div>
        </div>
    </div>
    <div class="row link-pages" id="link-page-bottom">
        <div class="col-lg-6 col-sm-12">
            <div class="card shadow">
                <img class="card-img-top" src="images/surfing-image.jpg" alt="surfing">
                <a type="button"  class="btn btn-outline-dark btn-link" href="/reviews">View our class reviews</a>
            </div>
        </div>
        <div class="col-lg-6 col-sm-12">
            <div class="card shadow">
                <img class="card-img-top" src="images/yoga-class.jpg" alt="yoga class">
                <a type="button"  class="btn btn-outline-dark btn-link" href="/reviews">View our instructor reviews</a>
            </div>
        </div>
    </div>