<header class="row align-items-center header-hero">
    <div class="offset-1 col-9 " id="home">
        <h1>WELCOME</h1>
        <h5>Welcome to our gym etc. General info about gym and classes.</h5>
    </div>


</header>
<div class="container">
    <div class="row link-pages">
        <div class="col-lg-6 col-sm-12">
            <div class="card shadow">
                <img class="card-img-top" src="images/group-weight-class.jpg" alt="group training">
                <a type="button"  class="btn btn-outline-dark btn-link" href="/classes">View classes</a>
                <h3 class="home-h3">View our classes description</h3>
            </div>
        </div>
        <div class="col-lg-6 col-sm-12">
             <div class="card shadow">
                <img class="card-img-top" src="images/tube-training.jpg" alt="tube training">
                <a type="button"  class="btn btn-outline-dark btn-link" href="/login">log in</a>
                <h3 class="home-h3">Log in and book your class</h3>
            </div>
                {{!-- <form class="card-body" action="">
                    <h3>Log in and book your class</h3>
                    <input type="submit" value="login page" class="link-button">
                </form> --}}
        </div>
    </div>
    <div class="row link-pages" id="link-page-bottom">
        <div class="col-lg-6 col-sm-12">
            <div class="card shadow">
                <img class="card-img-top" src="images/surfing-image.jpg" alt="surfing">
                <a type="button"  class="btn btn-outline-dark btn-link" href="/reviews">View classe reviews</a>
                <h3 class="home-h3">View our class reviews</h3>
            </div>
        </div>
        <div class="col-lg-6 col-sm-12">
            <div class="card shadow">
                <img class="card-img-top" src="images/yoga-class.jpg" alt="yoga class">
                <a type="button"  class="btn btn-outline-dark btn-link" href="/reviews">View classe reviews</a>
                <h3 class="home-h3">View our instructor reviews</h3>
            </div>
        </div>
    </div>