<header class="row align-items-center header-hero">
    <div class="offset-1 col-9 " id="home">
        <h1>WELCOME</h1>
        <h5>Welcome to our gym etc. General info about gym and classes.</h5>
    </div>


</header>
<div class="container">
    <div class="row link-pages">
        <div class="col-lg-6 col-sm-12">

            <div class="card shadow">
                <img class="card-img-top" src="images/group-weight-class.jpg" alt="group training">
                <a href="/classes" class="btn btn-link">View Class</a>
                <form class="card-body" action="">
                    <h3>View our classes description</h3>
                    <!-- Button goes to Classes page when clicked -->
                    <input type="submit" value="View Classes" class="link-button">
                </form>
            </div>

            {{!-- <img src="images/group-weight-class.jpg" alt="group-training" height="400" width="600"
                class="page-link-img"> --}}
        </div>
        <div class="col-lg-6 col-sm-12">
            <form action="">
                <!-- Button goes to review page when clicked -->
                <input type="submit" value="View Classes" class="link-button">
            </form>
            <p>Log in memeber page</p>
            <img src="images/tube-training.jpg" alt="tube-training" height="400" width="600" class="page-link-img">
        </div>
    </div>
    <div class="row link-pages" id="link-page-bottom">
        <div class="col-lg-6 col-sm-12">
            <form action="">
                <!-- Button goes login page when clicked -->
                <input type="submit" value="View Classes" class="link-button">
            </form>
            <p>Check out Class review</p>
            <img src="images/surfing-image.jpg" alt="surfing" height="400" width="600" class="page-link-img">
        </div>
        <div class="col-lg-6 col-sm-12">
            <form action="">
                <!-- Button goes to signin page when clicked -->
                <input type="submit" value="View Classes" class="link-button">
            </form>
            <p>Our instructor and review</p>
            <img src="images/yoga-class.jpg" alt="yoga-class" height="400" width="600" class="page-link-img">
        </div>
    </div>