<div class="container">
    <div class="row">
        <div class="col-12">
            <h1>Home</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <!-- Photo by <a href="https://unsplash.com/@brucemars?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">bruce mars</a> on <a href="/s/photos/people-gym?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a> -->
            <img src="images/fitness-class.jpg" alt="placeholder img" height="300" width="450">
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <p>Welcome to our gym etc. General info about gym and classes.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <form action=""> <!-- Button goes to Classes page when clicked -->
                <input type="submit" value="View Classes">
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <!-- Photo by <a href="https://unsplash.com/@rodrisars?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Rodrigo Sarsfield</a> on <a href="/s/photos/gym?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a> -->
            <img src="images/gym.jpg" alt="placeholder img" height="300" width="450">
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <p>We provide the best fitness instruction in Sydney. Info about accreditation.<br>
            "This is by far the best gym I've ever been to." - Samantha Johnson
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <form action=""> <!-- Button goes to Reviews page when clicked -->
                <input type="submit" value="View Reviews">
            </form>
        </div>
    </div>
</div>
