<header class="row align-items-center header-hero">
    <div class="offset-1 col-9 " id="home">
        <h1>WELCOME</h1>
        <h5>Welcome to our gym etc. General info about gym and classes.</h5>
    </div>


</header>
<div class="container link-card">
    <div class="row link-pages">
        <div class="col-lg-6 col-sm-12">
            <div class="card shadow">
                <div class="content-hover">
                <img class="card-img-top img-redirect" src="images/group-weight-class.jpg" alt="group training">
                <a class="text-redirect" href="/classes">Our classes</a>
                </div>
                <a type="button"  class="btn btn-outline-dark btn-link" href="/classes">View our classes description</a>
            </div>
        </div>
        <div class="col-lg-6 col-sm-12">
             <div class="card shadow">
                 <div class="content-hover">
                <img class="card-img-top img-redirect" src="images/tube-training.jpg" alt="tube training">
                <a class="text-redirect" href="/login">Log in</a>            
                </div>
                <a type="button"  class="btn btn-outline-dark btn-link" href="/login">Log in and book your class</a>

            </div>
        </div>
    </div>
    <div class="row link-pages" id="link-page-bottom">
        <div class="col-lg-6 col-sm-12">
            <div class="card shadow">
                <div class="content-hover">
                <img class="card-img-top img-redirect" src="images/surfing-image.jpg" alt="surfing">
                <a class="text-redirect" href="/reviews">Class reviews</a>
                </div>
                <a type="button"  class="btn btn-outline-dark btn-link" href="/reviews">View our class reviews</a>
            </div>
        </div>
        <div class="col-lg-6 col-sm-12">
            <div class="card shadow">
                <div class="content-hover">
                <img class="card-img-top img-redirect" src="images/yoga-class.jpg" alt="yoga class">
                <a class="text-redirect" href="/signup">Sign up</a>
            </div>
                <a type="button"  class="btn btn-outline-dark btn-link" href="/signup">Sign up now!</a>
        </div>
    </div>
</div>