<header class="row align-items-center header-hero">
    <div class="offset-1 col-9 " id="home">
        <h1 id="welcome-h1">WORK HARD,<br><span id="workout-span">WORK OUT</span> HARDER.</h1>
        <h5 id="slogan-h5">Be your best you. </h5>
    </div>
</header>
<div class="container link-card">
    <div class="row link-pages">
        <div class="col-lg-6 col-sm-12">
            <div class="card shadow">
                <div class="content-hover">
                <img class="card-img-top img-redirect" src="images/group-weight-class.jpg" alt="group training">
                <a class="text-redirect" href="/classes">OUR CLASSES</a>
                </div>
                <a type="button"  class="btn btn-link" href="/classes">View our classes</a>
            </div>
        </div>
        <div class="col-lg-6 col-sm-12">
             <div class="card shadow">
                 <div class="content-hover">
                <img class="card-img-top img-redirect" src="images/tube-training.jpg" alt="tube training">
                <a class="text-redirect" href="/login">LOG IN</a>            
                </div>
                <a type="button"  class="btn btn-link" href="/login">Log in and book a class</a>
            </div>
        </div>
    </div>
    <div class="row link-pages" id="link-page-bottom">
        <div class="col-lg-6 col-sm-12">
            <div class="card shadow">
                <div class="content-hover">
                <img class="card-img-top img-redirect" src="images/surfing-image.jpg" alt="surfing">
                <a class="text-redirect" href="/reviews">REVIEWS</a>
                </div>
                <a type="button"  class="btn btn-link" href="/reviews">View our reviews</a>
            </div>
        </div>
        <div class="col-lg-6 col-sm-12">
            <div class="card shadow">
                <div class="content-hover">
                <img class="card-img-top img-redirect" src="images/yoga-class.jpg" alt="yoga class">
                <a class="text-redirect" href="/signup">SIGN UP</a>
            </div>
                <a type="button"  class="btn btn-link" href="/signup">Sign up now!</a>
        </div>
    </div>
</div>