#bookSuccess {
    position:fixed;
    width:100%;
    height:3em;
    line-height:1em;
    left:0;
    top:0;
    text-align:center;
    padding-top:40px;
    padding-bottom:10px;
    font-size: 2em;
  }
  
  #bookFail {
    position:fixed;
    width:100%;
    height:3em;
    line-height:1em;
    left:0;
    top:0;
    text-align:center;
    padding-top:40px;
    padding-bottom:10px;
    font-size: 2em;
  }
  
  
  .opacity_max {
    opacity:1;
  }