#class-body {
  margin: 10px;
}

#classes {
  width: 80%;
  margin: 50px auto;
  padding: 20px;
  vertical-align: middle;
  display: grid;
  
}
#each-class {
  margin-bottom: 20px;
  padding: 20px;
  border: solid 1px rgb(235, 235, 235);

}

.jump {
  margin: 0 auto;
  display: inline-block;
}

.jump:hover {
  background-color: rgb(255, 89, 0);
  border: none;
}

#class-search {
  width: 20em;
}

#bookSuccess {
    position:fixed;
    width:100%;
    height:3em;
    line-height:1em;
    left:0;
    top:0;
    text-align:center;
    padding-top:40px;
    padding-bottom:10px;
    font-size: 2em;
}
  
#bookFail {
    position:fixed;
    width:100%;
    height:3em;
    line-height:1em;
    left:0;
    top:0;
    text-align:center;
    padding-top:40px;
    padding-bottom:10px;
    font-size: 2em;
}
  
.opacity_max {
    opacity: 1;
}

.book-withdraw{
    display: inline-block;
    height: auto;
    padding: 14px 30px;
    background: transparent;
    background-image: none !important;
    color: inherit !important;
    letter-spacing: 0.03em;
    font-size: 16px;
    line-height: 1;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.view-reviews {
  display: inline-block;
    height: auto;
    padding: 14px 30px;
    background: transparent;
    background-image: none !important;
    color: inherit !important;
    letter-spacing: 0.03em;
    font-size: 16px;
    line-height: 1;
    text-transform: uppercase;
    margin-bottom: 10px;
}

/* Booking confirmation modal */
.booking-confirmation-review-div, .withdraw-confirmation-review-div {
    position: relative;
    width: 500px;
    height: 230px;
    margin: 0 auto;
    background-color: white;
    z-index: 10;
    box-shadow: 3px 3px .4em rgb(190, 190, 190), -.1em 0 .4em rgb(206, 206, 206);
}

.booking-confirmation-heading, .withdraw-confirmation-heading {
    height: 150px;
    padding-top: 20px;
    padding-left: 15px;
    font-weight: 200;
    text-align: center;
    margin: 10px;
}