body {
    font-size: inherit;
    line-height: inherit;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #111;
    background-color: #fff;
}

.container {
    vertical-align: middle;
    /* margin-left: 20px;
    margin-right: 20px; */
}

#index-navbar {
    margin-left: 20px;
    margin-right: 20px;
    padding: 20px;
    border-bottom: #111 2px solid;
}

.navbar-brand{
    font-size: 24px;
    font-weight: bold;
}

#home {
    margin-top: 10px;
    margin-left: 20px;
}

/*not working*/
#navbarSupportedContent {
    text-align: right;
}

#home-image {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.page-link-img{
    border-color: gray;
    border-radius: 1px;
}

.page-link-img{
    vertical-align: middle;
    padding: 20px;
}

