#home {
   color: white;
   padding-top: 150px;
}

#welcome-h1 {
    font-family: 'Manrope', sans-serif;
    font-size: 65px;
    font-weight: 600;
}

#slogan-h5 {
    font-family: 'Manrope', sans-serif;
    font-size: 30px;
    font-weight: 300;
}

#workout-span {
    color: rgb(66, 98, 214);
}

/*not working*/
#navbarSupportedContent {
    text-align: right;
}

#home-image {
    margin: 10px;
    width: 100vw;
    height: auto;
    vertical-align: auto;
    /* margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px; */
}

.page-link-img {
 float: inherit;
}

.link-button {
    display: inline-block;
    height: auto;
    padding: 14px 30px;
    background: transparent;
    background-image: none !important;
    color: inherit !important;
    letter-spacing: 0.03em;
    font-size: 16px;
    line-height: 1;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.link-pages {
    margin-top: 30px;
    line-height: 60%;
    margin: 20px 0;
    width: 100vw;
}

.btn-link {
    color: #111;
    font-family: 'Manrope', sans-serif;
    font-weight: 300;
    font-size: 22px;
    text-decoration: none;
    padding: 20 10;
    border: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.btn-link:hover {
    background-color: black;
    color: white;
}

.page-footer {
   margin-top: 30px;
   background-color: #111;
   color: #fff;
   width:100vw;
}

/* This code makes the footer a bit shorter */
/* .page-footer div {
    padding-bottom: 0!important;
} */

.icons {
    display: flex;
    justify-content: center;
}

.icon {
    color: #fff;
    text-decoration: none;
    padding: 10px;

}

/* form{
    margin-top: 30px;
} */

@media only screen and (max-width: 760px) {

}

@media only screen and (max-width: 599px){
    body {
        width:100vw
    }
    
    .container {
        margin: 0 auto;
    }

    /* This was stuffing up the responsiveness on the profile/reviews page*/
    /* .row {
        margin: 0 auto;
    } */

    #home-image {
        width: 100vw;
        height: auto;
        vertical-align: middle;
    }

    .page-link-img {
        width: 100vw;
        height: auto;
    }

    .link-pages {
        margin: 0;
    }

    .link-button {
        padding: 10px 20px; 
    }

    .page-footer {
        padding: 20px;
        width: 100vw;
    }
}

.header-hero {
    background-image: url(/images/women-weight.jpg);
    height: 75vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0;
}

a {
    text-decoration: none;
}

.content-hover {
    position: relative;
    font: 3em;
}
   
.img-redirect {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.text-redirect {
    width: 10em;
    font-size: 60px;
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.content-hover:hover .img-redirect {
    opacity: 0.1;
}

.content-hover:hover .text-redirect {
    opacity: 1;
}

.text {
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
}
