.container {
    max-width: 100%;
    margin: 0;
    padding: 0;
}

.profile-heading {
    text-align: center;
    margin: 20px 0;
}

.user-info {
    padding: 20px;
    text-align: center;
    background: linear-gradient(321deg, rgba(154,151,173,1) 0%, rgba(81,93,149,1) 51%, rgba(46,58,126,1) 91%);
    width: 100%;
    color: white;
}

.user-info p {
    font-weight: 200;
}

.my-classes {
    width: 100%;
    margin-bottom: 100px;
}

.classes-heading {
    padding-top: 50px;
    margin: 0 auto;
    width: 600px;
}

#add-class-btn {
    font-size: 14px;
    border: solid 1px black;
    background-color: white;
    padding: 5px;
    cursor: pointer;
}

#add-class-btn:hover {
    background-color: black;
    color: white;
}
/* #add-class-link {
    float: right;
} */

.instructor-class, .member-class {
    margin: 10px auto;
    padding: 20px;
    width: 600px;
    min-height: 240px;
    height: fit-content;
    background-color: white;
    border: solid 1px rgb(236, 235, 235);
}

.single-class-heading {
    border-bottom: solid 1px rgb(207, 207, 207);
    margin-bottom: 10px;
}

.class-name-span {
    color: rgb(69, 87, 148);
}

.class-date-span {
    font-weight: 300;
}

.member-class-table {
    margin-top: 15px;
}

.table-row-one {
    font-size: 14px;
    font-weight: 300;
    color: rgb(128, 128, 128);
}

.table-row-one p {
    margin-right: 20px;
}

#cancel-btn {
    border: solid 1px rgb(212, 56, 56);
    color: rgb(212, 56, 56);
    height: 35px;
    width: 100%;
    background-color: white;
    font-size: 14px;
    float: right;
}

#cancel-btn:hover {
    color: white;
    background-color: rgb(212, 56, 56);
}