.profile-container {
    max-width: 100%;
    margin: 0;
    padding: 0;
}

/* Commented out of HTML */
/* .profile-heading {
    text-align: center;
    margin: 20px 0;
} */

.user-info {
    padding-top: 40px;
    text-align: center;
    background: linear-gradient(321deg, rgba(154,151,173,1) 0%, rgba(81,93,149,1) 51%, rgba(46,58,126,1) 91%);
    width: 100%;
    height: 200px;
    color: white;
}

.user-info p {
    font-weight: 200;
}

.my-classes {
    width: 100%;
    margin-bottom: 100px;
}

.classes-heading {
    padding-top: 50px;
    width: 100%;
    text-align: center;
}

.classes-heading h3 {
    margin: 0;
}

.instructor-class, .member-class {
    margin: 20px auto;
    padding: 20px;
    padding-bottom: 50px;
    width: 600px;
    max-height: 340px;
    height: fit-content;
    background-color: white;
    border: solid 1px rgb(236, 235, 235);
}

.instructor-class {
    padding: 0;
    padding-top: 20px;
    max-height: 300px;
    height: fit-content;
}

.single-class-heading {
    border-bottom: solid 1px rgb(207, 207, 207);
    margin-bottom: 10px;
}

.class-name-span {
    color: rgb(69, 87, 148);
}

.class-date-span {
    font-weight: 300;
}

.class-table {
    margin-top: 15px;
}

.table-row-one {
    font-size: 14px;
    font-weight: 300;
    color: rgb(128, 128, 128);
}

.table-row-one p {
    margin-right: 20px;
}

.description-container {
    max-height: 50px;
    overflow: auto;
}

.profile-withdraw-btn {
    border: solid 1px rgb(212, 56, 56);
    color: rgb(212, 56, 56);
    height: 35px;
    width: 100%;
    background-color: white;
    font-size: 14px;
    float: right;
}

.profile-withdraw-btn:hover {
    color: white;
    background-color: rgb(212, 56, 56);
}

#add-class-form {
    position: relative;
    width: 600px;
    margin: 0 auto;
    margin-top: 20px;
    /* z-index: 10; */
    text-align: center;
}

#add-class-btn {
    font-size: 14px;
    border: solid 1px black;
    background-color: white;
    padding: 5px;
    cursor: pointer;
    width: 100%;
    /* float: right; */
    margin-top: -30px;
}

#add-class-btn:hover {
    background-color: black;
    color: white;
}

.instructor-class-info {
    padding: 0 20px;
}

.instructor-class-options {
    width: 100%;
    border-top: solid 1px rgb(236, 235, 235);
}

.class-options-btn {
    font-size: 15px;
    font-weight: 600;
    color: rgb(97, 97, 97);
    background-color: white;
    border: none;
    /* border-top: solid 1px rgb(218, 218, 218); */
    height: 50px;
    margin: 0 auto;
    width: 100%;
}

.edit-class-btn:hover {
    color: rgb(255, 166, 0);
    background-color: rgb(248, 247, 247);
}

.delete-class-btn:hover {
    color: rgb(212, 56, 56);
    background-color: rgb(248, 247, 247);
}

.table-row-instructor {
    text-align: center;
    width: 50%;
    padding: 0;
}

.left-border {
    border-left: solid 1px rgb(236, 235, 235);
}

/* Edit modal */
.edit-icon {
    color: rgb(255, 166, 0);
    margin-bottom: 20px;
}

.edit-class-div  {
    position: relative;
    width: 500px;
    height: 530px;
    margin: 0 auto;
    background-color: white;
    z-index: 10;
    box-shadow: 3px 3px .4em rgb(190, 190, 190), -.1em 0 .4em rgb(206, 206, 206);
}

.edit-class-heading {
    height: 160px;
    padding-top: 20px;
    padding-left: 15px;
    font-weight: 200;
    text-align: center;
    border-bottom: solid 1px rgb(212, 210, 210);
    margin: 10px;
}

#class-info {
    padding: 0 20px;
}

.table-row-one p {
    margin-top: 5px;
}

.t2 {
    vertical-align: top;
}

#edit-table input, #edit-table textarea {
    width: 350px;
    height: 30px;
    border: solid 1px rgb(206, 206, 206);
}

#edit-table textarea {
    height: 150px;
    resize: none;
}

/* Class delete confirmation modal */
.delete-confirm-modal-div, .delete-undo-modal-div, .withdraw-success-modal-div {
    position: relative;
    width: 500px;
    height: 220px;
    margin: 0 auto;
    background-color: white;
    z-index: 10;
    box-shadow: 3px 3px .4em rgb(190, 190, 190), -.1em 0 .4em rgb(206, 206, 206);
}

.delete-confirm-heading, .update-success-heading, .delete-success-heading, .delete-undo-heading, .withdraw-success-heading {
    height: 150px;
    padding-top: 20px;
    font-weight: 200;
    text-align: center;
    margin: 10px;
    font-weight: 300;
}

/* Class update/delete success modals */ 
.update-success-modal-div, .delete-success-modal-div {
    position: relative;
    width: 500px;
    height: 240px;
    margin: 0 auto;
    background-color: white;
    z-index: 10;
    box-shadow: 3px 3px .4em rgb(190, 190, 190), -.1em 0 .4em rgb(206, 206, 206);
}

.update-success-heading, .delete-success-heading {
    height: 170px;
}

#refresh-message {
    margin-bottom: 5px;
}

#delete-message {
    margin-bottom: 5px;
}

.fa-undo-alt {
    color: rgb(29, 145, 212);
    margin-bottom: 20px;
}

/* Instructor - no classes message */
.no-classes-message {
    width: 600px;
    height: 250px;
    margin: 20px auto;
    text-align: center;
    border: solid 1px rgb(236, 235, 235);
    padding-top: 70px;
}

.no-classes-message h3 {
    margin-bottom: 10px;
}

/* ------ MEDIA QUERIES ------ */
@media (max-width: 500px) {
    .instructor-class, .member-class, .classes-heading, .my-classes, #add-class-form {
        width: 300px;
        margin: 20px auto;
    }    

    .single-class-heading h4 {
        font-size: 18px;
    }

    .class-table {
        font-size: 14px;
    }

    .classes-heading {
        padding-top: 10px;
    }
}

@media (max-width: 599px) {
    .delete-confirm-modal-div, .delete-undo-modal-div, .withdraw-success-modal-div {
        width: 300px;
        height: 230px;
    }

    #withdraw-p-confirmation-modal-bg .withdraw-confirmation-review-div {
        height: 240px;
    }

    #withdraw-p-confirmation-modal-bg .withdraw-confirmation-heading {
        height: 160px;
    }
    
    .delete-confirm-heading, .update-success-heading, .delete-undo-heading, .withdraw-success-heading {
        height: 160px;
    }

    .delete-success-heading {
        height: 150px;
    }
    
    .update-success-modal-div, .delete-success-modal-div {
        width: 300px;
        height: 250px;
    }
    
    .update-success-heading {
        height: 180px;
    }

    .delete-success-heading {
        height: 170px;
    }
}

@media (min-width: 500px) and (max-width: 768px){
    .single-class-heading h4 {
      font-size: 18px;
    }

    .instructor-class, .member-class, .classes-heading, .my-classes, #add-class-form {
        width: 400px;
    }

    .my-classes {
        margin: 20px auto;
    }

    .edit-class-div  {
        height: 580px;
    }
}

@media (max-width: 450px) {
    #edit-class-modal {
        top: 0px;
    }

    .edit-class-div  {
        width: 320px;
        height: 580px;
    }
    
    .edit-class-heading {
        height: 160px;
        padding-top: 20px;
        padding-left: 15px;
        font-weight: 200;
        text-align: center;
        border-bottom: solid 1px rgb(212, 210, 210);
        margin: 10px;
    }
    
    #class-info {
        padding: 0 20px;
        font-size: 14px;
    }
    
    .t2 {
        vertical-align: top;
    }
    
    #edit-table input, #edit-table textarea {
        width: 170px;
    }
    
    #edit-table textarea {
        height: 150px;
        resize: none;
    }
}