/* h1 {
    text-align: center;
} */

/* .review-background-hero {
    position: relative; 
} */

.review-background-hero {
    background-image: url(../images/men-weight-lift.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-bottom: 20px;
    width: 100vw;
    /* opacity: 0.75; */
}

#review-body {
    margin: 10px auto;
} 

.review-toggle {
    margin: 10px auto;
    margin-top: 50px;
    width: fit-content;
}

.toggle {
    border: none;
    height: 40px;
    width: 150px;
    font-size: 15px;
}

#class-toggle {
    background-color: rgb(255, 89, 0);
    color: white;
}

#instructor-toggle {
    background-color: white;
    border: solid 1px black;
}

.review-container {
    /* border: solid 1px rgb(148, 148, 148); */
    padding: 20px;
    margin: 50px auto;
    background-color: rgba(255, 255, 255, 0.8);
}

#class-reviews, #instructor-reviews {
    width: 80%;
    margin: 50px auto;
    padding : 20px;
}

.class-heading {
    color: rgb(255, 89, 0);
}

.instructor-heading {
    color: rgb(66, 98, 214);
}

.review-container h3 {
    font-weight: 700;
}

.add-review {
    display: block;
    float: right;
    padding: 10px;
    background-color:white;
    border: solid 1px;
}

.class-name, .instructor-name {
    border-bottom: solid 2px rgb(0, 0, 0);
    /* color: rgb(109, 107, 107); */
}

.class-name h4, .instructor-name h4 {
    margin: 0;
    margin-top: 20px;
}

.review-div {
    border-bottom: solid 1px rgb(235, 235, 235);
    padding: 20px 10px;
}

.class-review-title {
    font-size: 18px;
    font-weight: 600;
    color: rgb(255, 89, 0);
}

.instructor-review-title {
    font-size: 18px;
    font-weight: 600;
    color: rgb(66, 98, 214);
}

.author {
    font-weight: 200;
    font-size: 18px;
    /* color: rgb(112, 112, 112); */
    font-style: italic;
}

.review-text {
    font-weight: 300;
    font-size: 18px;
}

/* 'Add class review' modal */

.modal-bg {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.5)
}

.add-review-modal {
    position: absolute;
    top: 150px;
    width: 100%;
    height: 100%;
}

.add-review-div {
    position: relative;
    width: 500px;
    height: 400px;
    margin: 0 auto;
    background-color: white;
    z-index: 10;
    box-shadow: 3px 3px .4em rgb(190, 190, 190), -.1em 0 .4em rgb(206, 206, 206);
}

.add-review-form {
    width: 80%;
    margin: 20px auto;
}

.modal-heading {
    background-color: rgb(46, 46, 71);
    height: 60px;
    padding-top: 20px;
    padding-left: 15px;
    color: white;
}

.modal-heading h4 {
    font-size: 20px;
    font-weight: 200;
    padding-left: 40px;
    width: fit-content;
}

.exit-review-add {
    position: absolute;
    top: 25px;
    right: 55px;
    cursor: pointer;
}

.add-review {
    cursor: pointer;
}

.dropdown select {
    width: 120px;
    border: solid 1px rgb(212, 212, 212);
}

.form-group {
    margin-bottom: 10px;
}

.dropdown {
    margin: 20px 0;
}

.add-review-form textarea {
    height: 120px;
}

#review-title-input, #review-text-input {
    border-radius: 0;
}

.rate-star {
    color: rgb(218, 210, 210);
}

.add-review-btn {
    display: block;
    font-size: 14px;
    background-color: white;
    border: solid 1px rgb(59, 59, 59);
    border-radius: 0;
    float: right;
}

.add-review-btn:hover {
    background-color: black;
    color: white;
}

/* Confirmation modal */

.confirmation-review-div {
    position: relative;
    width: 500px;
    height: 460px;
    margin: 0 auto;
    background-color: white;
    z-index: 10;
    box-shadow: 3px 3px .4em rgb(190, 190, 190), -.1em 0 .4em rgb(206, 206, 206);
}

.fa-question-circle {
    color: rgb(255, 166, 0);
    margin-bottom: 20px;
}

.confirmation-heading {
    height: 160px;
    padding-top: 20px;
    padding-left: 15px;
    font-weight: 200;
    text-align: center;
    border-bottom: solid 1px rgb(212, 210, 210);
    margin: 10px;
}

.confirm-stars {
    margin-bottom: 10px;
}

.confirmation-review {
    padding: 20px;
    margin: 0 auto;
    width: 90%;
}

.review-para {
    border: solid 1px rgb(199, 199, 199);
    border-radius: 4px;
    padding: 5px;
    height: 120px;
    overflow: auto;
}

.confirmation-btn-div {
    margin: 0 auto;
    width: fit-content;
}

.confirm-btn {
    font-size: 14px;
    background-color: white;
    border: solid 1px black;
    padding: 5px;
    margin: 5px;
    height: 40px;
    width: 120px;
}

.confirm-btn:hover {
    background-color: black;
    color: white;
}

/* Success modal */ 
.success-modal-div {
    position: relative;
    width: 500px;
    height: 230px;
    margin: 0 auto;
    background-color: white;
    z-index: 10;
    box-shadow: 3px 3px .4em rgb(190, 190, 190), -.1em 0 .4em rgb(206, 206, 206);
}

.success-heading {
    height: 160px;
    padding-top: 20px;
    font-weight: 200;
    text-align: center;
    margin: 10px;
    font-weight: 300;
}

.fa-check-circle {
    color: rgb(138, 197, 71);
    margin-bottom: 20px;
}

.nav-btn-div {
    width: fit-content;
    margin: 0 auto;
}

/* Review filters */
.filter-div {
    display: inline-block;
}

#filter-class, #filter-instructor, #filter-class-rating, #filter-instructor-rating {
    width: 150px;
    height: 30px;
}

#filter-class-rating, #filter-instructor-rating {
    width: 110px;
}

#filter-class, #filter-class-rating {
    border: solid 1px rgb(255, 89, 0);
}

#filter-instructor, #filter-instructor-rating {
    border: solid 1px rgb(66, 98, 214);
}

#clear-filter-class, #clear-filter-instructor {
    height: 30px;
    font-weight: 400;
    font-size: 14px;
    color: white;
    background: black;
    border: solid 1px black;
    vertical-align: top;
}

#clear-filter-class:hover {
    color: rgb(255, 89, 0);
}

#clear-filter-instructor:hover {
    color: rgb(66, 98, 214);
}

.clear-filter {
    border: none;
    height: 35px;
    width: 130px;
    font-size: 15px;
    margin-top: -6px;
}

/* No reviews message */
.no-reviews-message {
    width: 600px;
    height: 250px;
    margin: 20px auto;
    text-align: center;
    padding-top: 70px;
}

/* ------- MEDIA QUERIES ------- */

@media (max-width: 768px) {
    .filter-div {
        display: block;
        margin: 10px auto;
        width: fit-content;
    }

    #filter-class, #filter-instructor, #filter-class-rating, #filter-instructor-rating {
        width: 150px;
    }

    .clear-filter {
        margin-top: 0;
    }

    .review-text, .author {
        font-size: 16px;
    }

    #class-reviews, #instructor-reviews {
        width: 90%;
    }
}
