
.review-toggle {
    margin: 10px auto;
    width: fit-content;
}

.toggle {
    border: none;
    height: 40px;
    width: 150px;
    font-size: 15px;
}

#class-toggle {
    background-color: rgb(255, 89, 0);
    color: white;
}

#instructor-toggle {
    background-color: white;
    border: solid 1px black;
}

.review-container {
    border: solid 1px rgb(235, 235, 235);
    padding: 20px;
    margin: 50px auto;
}

.class-heading {
    color: rgb(255, 89, 0);
}

.instructor-heading {
    color: rgb(0, 174, 255);
}

.review-container h3 {
    font-weight: 700;
}

.add-review {
    display: block;
    float: right;
    padding-top: 5px;
}

.class-name, .instructor-name {
    border-bottom: solid 2px rgb(207, 207, 207);
    color: rgb(109, 107, 107);
}

.class-name h4, .instructor-name h4 {
    margin: 0;
    margin-top: 20px;
}

.review-div {
    border-bottom: solid 1px rgb(235, 235, 235);
    padding: 20px 10px;
}

.class-review-title {
    font-size: 18px;
    font-weight: 600;
    color: rgb(255, 89, 0);
}

.instructor-review-title {
    font-size: 18px;
    font-weight: 600;
    color: rgb(0, 174, 255);
}

.author {
    font-weight: 200;
    font-size: 15px;
    color: rgb(112, 112, 112);
    font-style: italic;
}

.review-text {
    font-weight: 300;
}

/* Add review modal */

.modal-bg {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.add-review-modal {
    position: absolute;
    top: 150px;
    width: 100%;
    height: 100%;
}

.add-review-div {
    position: relative;
    width: 500px;
    height: 380px;
    margin: 0 auto;
    background-color: white;
    z-index: 10;
    box-shadow: 3px 3px .4em rgb(190, 190, 190), -.1em 0 .4em rgb(206, 206, 206);
}

.add-review-form {
    width: 80%;
    margin: 20px auto;
}

.modal-heading {
    background-color: rgb(46, 46, 71);
    height: 60px;
    padding-top: 20px;
    padding-left: 15px;
    color: white;
}

.modal-heading h4 {
    font-size: 20px;
    font-weight: 200;
    padding-left: 40px;
}

.dropdown select {
    width: 120px;
    border: solid 1px rgb(212, 212, 212);
}

.form-group {
    margin-bottom: 10px;
}

.dropdown {
    margin: 20px 0;
}

.add-review-form textarea {
    height: 120px;
}

#review-title-input, #review-text-input {
    border-radius: 0;
}

.rate-star {
    color: rgb(218, 210, 210);
}

.add-review-btn {
    display: block;
    font-size: 14px;
    background-color: white;
    border: solid 1px rgb(59, 59, 59);
    border-radius: 0;
    float: right;
}


