form.signup,
form.login {
  margin-top: 50px;
}

body {
  font-size: inherit;
  line-height: inherit;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  color: #111;
  background-color: #fff;
}

.container {
  vertical-align: middle;
  display: grid;
  /* margin-left: 20px;
  margin-right: 20px; */
}

#index-navbar {
  margin-left: 20px;
  margin-right: 20px;
  padding: 20px;
  border-bottom: #111 2px solid;
}

.navbar-brand{
  font-size: 24px;
  font-weight: bold;
}