/* body {
    font-family: 'Inter', sans-serif;
} */
form.signup,
form.login {
  margin-top: 50px;
}

html {
    width: 100vw;
    height: 100%;
}

body {
  font-size: inherit;
  line-height: inherit;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #111;
  background-color: #fff;
  align-items: center;
  height: 100%;
  width: 100%;


.col-12 {
    padding: 0;
    margin: 0;
}
.container {
  vertical-align: middle;
  display: grid;
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  /* margin-left: 20px;
  margin-right: 20px; */
}

#index-navbar {
  /* margin-left: 20px; */
  margin-right: 20px;
  padding: 20px;
  border-bottom: #111 2px solid;
}

.login-card{
  margin-top: 30px;
   padding: 20px 40px;
}

.signin-card{
  margin-top: 30px;
  padding: 20px 40px;
}
.sing-log-in{
  text-align: center;
}

.signbtn, .logbtn, .add-class-btn{
  border-color: #111;
  border-style: 2px solid;
}
/* }
.signbtn, .logbtn, .add-class-btn :hover{
  background-color: rgb(255, 89, 0);
  color: white;
} */

@media only screen and (max-width: 760px){
  .col-8 {
    margin: 0 auto;
    width: 80vw;
  }

  .signbtn, .logbtn, .add-class-btn{
    padding: 5px 10px;
    font-size: 18px;
  }
}

@media only screen and (max-width: 599px){
  .col-8 {
    margin: 0 auto;
    width: 80vw;
  }
  .signbtn, .logbtn, .add-class-btn{
    padding: 5px 10px;
    font-size: 18px;
  }
}

/* Error modal */
.error-modal-div, .login-error-modal-div {
    position: relative;
    width: 500px;
    height: 230px;
    margin: 0 auto;
    background-color: white;
    z-index: 10;
    box-shadow: 3px 3px .4em rgb(190, 190, 190), -.1em 0 .4em rgb(206, 206, 206);
}

.error-heading, .login-error-heading {
    height: 160px;
    padding-top: 20px;
    font-weight: 200;
    text-align: center;
    margin: 10px;
    font-weight: 300;
}

.fa-times-circle, .fa-frown-open {
    color: rgb(219, 30, 30);
    margin-bottom: 20px;
}

/* Note under inputs */
.input-note {
    font-size: 12px;
    color: rgb(129, 129, 129);
    float: right;
}
